<%= form_for @task, url: task_add_review_path(@task),  html: { multipart: true }  do |f| %>
    <div class="form-group">
      <%= fields_for @review do |l| %>
          <%= l.label :review %>
          <%= l.text_area :text, placeholder: "Введите текст", class: 'form-control' %>

          </div>

          <div class="form-group">
            <%= l.submit "Отправить отзыв о пользователе", class: 'btn btn-primary' %>
          </div>
      <% end %>
<% end %>
