
<%# где ты тут указываешь кастомный обработчик формы?%>
<%= form_for @task, url: task_add_response_path(@task),  html: { multipart: true }  do |f| %>
        <div class="form-group">
          <%= fields_for @response do |l| %>
      <%= t("responses") %><%= l.label :responses %>
      <%= l.text_area :response_text, placeholder: "Введите текст", class: 'form-control' %>
    </div>
      <div class="form-group">
            <%= l.submit "Отправить отзыв", class: 'btn btn-primary' %>
      </div>
<% end %>
<% end %>