<div class=" col-lg-3 col-md-3 col-sm-6  col-padding">
  <div class="card">
    <div class="title"><a href=""><%=link_to task.title, task_path(task) %></a></div>
    <div class="deadline">До: <%= task.end_time.to_formatted_s(:short) %></div>
    <div class="author">
      <%=link_to info_path(task.user.info) do %>

          <div class="author-photo">
            <% if task.user.info.avatar? %>
                <%=  image_tag task.user.info.avatar.url(:thumb)  %>
            <% else %>
                <%= image_tag ("fa-01.png") %>
            <% end %>
          </div>
          <div class="author-name"><%= link_to task.user.info.name+' '+task.user.info.surname, info_path(task.user.info)  %></div>

      <% end %>
    </div>
    <div class="map">
      <%= task_map task %>
    </div>
    <div class="price"><%= task.price %> Руб</div>
  </div>
</div>