<h1><%= 'Задания' %></h1>
<% if current_user.admin? %>

    <%= link_to 'Создать категорию', admin_categories_path, class: 'btn btn-outline-primary btn-sm' %>
<% end %>

<% if current_user.moderator? %>

<%= link_to 'Проверить пользователей', moderate_users_path, class: 'btn btn-outline-primary btn-sm' %>
<%= link_to 'Проверить задания', moderate_tasks_path, class: 'btn btn-outline-primary btn-sm' %>

<% else %>



    <div class="col-lg-3 col-md-3 col-sm-12 center-block">
      <%= form_tag(myprofile_tasks_path, method: :get) do %>
          <%= collection_select :location, :term, Location.select(:city).group(:city), :city, :city, {}, class:'form-control' %>
          <%= submit_tag 'Поиск', class: "btn btn-primary navbar-btn" %>
      <% end %>
    </div>



<section id="tasks">


  <%= render @tasks %>



</section>


      <%= will_paginate @tasks%>






<% end %>

