<h1><%= t('.title') %></h1>
<% if current_user.admin? %>
    <%= link_to 'Создать категорию', admin_categories_path, class: 'btn btn-outline-primary btn-sm' %>
<% end %>

<% if current_user.moderator? %>

<%= link_to 'Проверить пользователей', moderate_users_path, class: 'btn btn-outline-primary btn-sm' %>
<%= link_to 'Проверить задания', moderate_tasks_path, class: 'btn btn-outline-primary btn-sm' %>

<% else %>


    <% if user_signed_in? %>

        <th> <%= form_tag tasks_path method: :get  do %>
              <p>
                <%= text_field_tag :search, params[:search] %>
                <%= button_tag "Search", name: nil %>
              </p>
          <% end %></th>
        <p><%= link_to "Advanced Search", new_search_path %></p>

    <%= link_to 'Новое задание', new_myprofile_task_path, class: 'btn btn-outline-primary btn-sm' %>



<section id='tasks'>
  <%= render @tasks %>


</section>



<% end %>
<% end %>



