<h1><%= t('.title') %></h1>
<% if current_user.admin? %>
    <%= link_to 'Создать категорию', admin_categories_path, class: 'btn btn-outline-primary btn-sm' %>
<% end %>

<% if current_user.moderator? %>

<%= link_to 'Проверить пользователей', moderate_users_path, class: 'btn btn-outline-primary btn-sm' %>
<%= link_to 'Проверить задания', moderate_tasks_path, class: 'btn btn-outline-primary btn-sm' %>

<% else %>


    <% if user_signed_in? %>


    <%= link_to 'Новое задание', new_myprofile_task_path, class: 'btn btn-outline-primary btn-sm' %>



<section id='tasks'>
  <p></p>
  <table class="filter">

    <%= search_form_for @search do |f| %>
      <tr>
       <th> <%= f.label :title_cont, "Title"  %>
        <%= f.text_field :title_cont %>
       </th>


       <th> <%= f.label :price_gteq, "Price min"  %>
        <%= f.text_field :price_gteq %>
       </th>
       <th> <%= f.label :price_gteq, "Max"%>
        <%= f.text_field :price_lteq %>
       </th>
      </tr>
      </table>
        <p></p>
        <p>
        </p>



      <div class="actions"><%= f.submit "Search" %></div>
<p></p>
  <% end %>

  <table id class="tasks">
    <tr>
      <th><%= sort_link @search, :title, "Task name" %>|</th>
      <th><%= sort_link @search, :created_at, "Release" %>|</th>
      <div id="price">
      <th><%= sort_link @search, :price, "Price" %>|</th>
      </div>
    </tr>
  </table>



  <%= render @posted_tasks %>


</section>




<% end %>
<% end %>



