<h1><%= t('.title') %></h1>
<% if current_user.admin? %>
    <%= link_to 'Админ Панель', admin_categories_path, class: 'btn btn-outline-primary btn-sm' %>
<% end %>

    <% if user_signed_in? %>

    <%= link_to 'Новое задание', new_myprofile_customer_task_path, class: 'btn btn-outline-primary btn-sm' %>


<% end %>


<section id='tasks'>
  <%= render @tasks %>
</section>

<%= will_paginate @tasks, renderer: 'BootstrapPaginationHelper::LinkRenderer' %>





