    <div class="container-fluid">
      <h1><span class="big-price"><%= @task.price %></span><%= @task.title %></h1>



    <div class="taskmap">
      <%= task_map @task %>
    </div>


      <div class="customer">
        <%=link_to info_path(@task.user.info) do %>
        <div class="avatar">
          <% if @task.user.info.avatar.present? %>

              <%= image_tag @task.user.info.avatar.url(:thumb), class: 'avatar' %>
              <% end %>
        <% end %>
        </div>

        <div class="name"><%= link_to @task.user.info.name+' '+@task.user.info.surname, info_path(@task.user.info)  %></div>
      </div>


      <div class="address-box">
        <div style="font-weight: bold">Адрес: </div>
        <div class="address-list">
          <% @task.locations.each do |l| %>
              <span class="address"><%= l.location_name %></span>
          <% end %>
        </div>
      </div>

      <div class="deadline">
        <div style="font-weight: bold">Сроки</div>
        <div class="start">Начать: <span><%= l @task.start_time, format: :long %></span></div>
        <div class="end">Завершить: <span><%= l @task.end_time, format: :long %></span></div>
      </div>

      <div class="price">Стоимость: <span><%=@task.price  %> р</span></div>
      <div class="payment">Оплата: <span>Наличными</span></div>
      <div class="details">Подробности: <span><%= @task.body.html_safe %></span></div>
      <% if @task.category.present? %>
          <%= link_to @task.category.name, @task.category %>
<% end %>



  <% if @task.performer_id==current_user.id %>

<% end %>



</article>

<% if @task.price>500 && !current_user.performer_role?%>

<p>Вы не можете отправить отзыв на это задание, так как цена перевышает лимит для Вашего аккаунта. Для того что бы снять ограничение пройдите проверку паспортных данных в личном кабинете</p>
<%end %>

<% if @task.task_status=='in work' %>
    <h3>Задание уже выполняется </h3>

          <% if @task.performer_id==current_user.id %>
          <h3> Вы исполнитель задания </h3>
              <% end %>

<% else %>

  <% if @task.user_id!=current_user.id%>

        <%=render 'responses' %>
   <% end %>

    <% if @responses.present? %>
        <% @responses.each do |r| %>
          <%= render r %>
        <% end %>
    <% end %>
    <% end %>


<%if current_user.info==nil&&@task.user_id!=current_user.id %>
    <p>Для того чтобы откликнуться на задание, необходимо заполнить личные данные</p>
   <p><%= link_to "Заполнить", new_myprofile_info_path, class: 'btn btn-primary btn' %> </p>


<% end %>

    </div>
