<article class="task">
  <section class="task-head">
    <h1><%= @task.title %></h1>

    <p align="right"><%= @task.price %> руб</p>

    <small>
      <time><%= @task.created_at.to_date.strftime("%d %B, %Y") %></time>
      <% if @task.category.present? %>
          <% if current_user.info.present? %>
          |
          <%= link_to current_user.info.name+' '+current_user.info.surname, info_path(current_user.info)  %>
          <% end %>
              |
          <%= link_to @task.category.name, @task.category %>
      <% end %>
      <% if user_signed_in? && current_user.id==@task.user_id %>
          |
          <%= link_to 'Изменить', edit_myprofile_task_path(@task) %>
          |
          <%= link_to 'Удалить', myprofile_task_path(@task), method: :delete, data: { confirm: 'Вы уверены?' } %>
      <% end %>
    </small>
  </section>





  <section class="post-body">
    <%= @task.body.html_safe %>
  </section>
</article>
  <% if current_user.performer_role&&current_user.id!=@task.user_id?%>
    <% if current_user.responded_tasks.ids.find(@task).any?%>

        <%= render 'responses' %>


<% end %>
<%end%>