<article class="task">
  <section class="task-head">
    <h1><%= @task.title %></h1>


    <div class="map">
      <%= task_map @task %>
    </div>

    <p align="right"><%= @task.price %> руб</p>

    <small>
      <%= task_info @task %>

    </small>
  </section>



  <% if @task.performer_id==current_user.id %>

<% end %>

  <section class="post-body">
    <%= @task.body.html_safe %>
  </section>
</article>


<% if @task.user_id!=current_user.id&&current_user.info.present? %>

      <%=render 'responses' %>

 <% end %>

<%if current_user.info==nil&&@task.user_id!=current_user.id %>
    <p>Для того чтобы откликнуться на задание, необходимо заполнить личные данные</p>
   <p><%= link_to "Заполнить", new_myprofile_info_path, class: 'btn btn-primary btn' %> </p>

<% end %>
