<% if @info.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= t('common.errors') %></h5>
      <ul>
        <% @info.errors.full_messages.each do |message|  %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>




<%= form_for [:myprofile, @info] do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :surname %>
      <%= f.text_field :surname, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :dob %>
      <%= f.date_select :dob, :order => [:day, :month, :year], :start_year => 1940, :end_year => Date.today.year - 14, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :about %>
      <%= f.text_area :about, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
      Remove image
      <%= f.check_box :remove_avatar %>
    </div>


    <div class="form-group">
      <%= f.submit "Сохранить", class: 'btn btn-primary' %>
      <%= link_to "Назад", :back, class: 'btn btn-outline-secondary' %>
    </div>

<% end %>