<h1>Личный кабинет</h1>
<%# t.text "name"
    t.text "surname"
    t.text "phone"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.date "dob"
    t.text "about"
    t.string "location" %>
<% if user_signed_in? %>
        <% if current_user.performer_role %>
            <div><%= link_to 'Мои Работы', myprofile_jobs_path, class: 'btn btn-outline-primary btn-sm' %></div>

        <% end %>
        <div><%= link_to 'Мои задания', myprofile_tasks_path, class: 'btn btn-outline-primary btn-sm' %></div>
    <% if current_user.performer.nil? %>

        <div> <%= link_to 'Загрузить фото', new_performer_path, class: 'btn btn-outline-primary btn-sm'  %></div>
    <% end %>

    <% if current_user.info.nil?%>
        <%= link_to 'Заполнить личные данные', new_myprofile_info_path, class: 'btn btn-outline-primary btn-sm' %>
    <% else %>

        <p></p>
        <div>
         <%= avatar_for(current_user) %>
          </div>
        <p></p>
        <%= current_user.info.name %>
         <%= current_user.info.surname %>
        <div><%= current_user.info.about %></div>
        <div><%= current_user.info.city+', '+current_user.info.country_code %></div>
    <% end %>
    <% if current_user.info.present? %>

    <%= link_to 'Редактировать', edit_myprofile_info_path(current_user.info), class: 'btn btn-outline-primary btn-sm'  %>
<% end %>

    <%= render @tasks %>



<% end %>





