<h1>Личный кабинет</h1>
<%# t.text "name"
    t.text "surname"
    t.text "phone"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.date "dob"
    t.text "about"
    t.string "location" %>
<% if user_signed_in? %>
    <% if current_user.performer.nil? %>
        <div> <%= link_to 'Загрузить фото', new_performer_path, class: 'btn btn-outline-primary btn-sm'  %></div>
    <% if current_user.info.nil?%>
        <%= link_to 'Заполнить личные данные', new_info_path, class: 'btn btn-outline-primary btn-sm' %>
    <% else %>
           <%= link_to'Профиль', my_profile_infos_path, class: 'btn btn-outline-primary btn-sm'  %>
        <%= current_user.info.name %>
        <%= current_user.info.surname %>
        <div><%= current_user.info.about %></div>
    <% end %>



<% end %>
<% end %>





