<% if @customer_task.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= t('common.errors') %></h5>
      <ul>
        <% @customer_task.errors.full_messages.each do |message|  %>
        <li><%= message %></li>
            <% end %>
      </ul>
    </div>
    <% end %>

<%= form_for [:myprofile, @customer_task], html: { multipart: true }  do |f| %>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: "Введите имя задания", class: 'form-control' %>
</div>


    <div class="form-group">
      <%= f.label :body %>
      <%= f.trix_editor :body, placeholder: "Описание задания", class: 'editor' %>
    </div>

    <div class="form-group">
      <%= f.label :start_time %>
      <%= f.datetime_select  :start_time, start_year: 2017, selected: Date.today,  class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :end_time %>
      <%= f.datetime_select :end_time, start_year: 2017, selected: Date.today, class: 'form-control' %>
    </div>



    <div class="form-group">
      <%= f.label :price %>
      <%= f.text_field :price, placeholder: "Цена", class: 'form-control' %>


    </div>

    <div class="form-group">
      <%= f.nested_fields_for :locations do |l| %>
          <%= l.remove_nested_fields_link %>
        <%= l.label :address %>
        <%= l.text_field :address, :size => 85, placeholder: "Введите адресс", class: 'form-control' %>
      <% end %>
      <%= f.add_nested_fields_link :locations %>
    </div>


    <div class="form-group">
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, Category.order(:name), :id, :name, {include_blank:true}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :all_tags %>
      <%= f.text_field :all_tags, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%=f.file_field :attachments,  multiple: true %>
      <%= label_tag :remove_attachments do %>
          Remove image
          <%= f.check_box :remove_attachments %>
      <% end %>
          </div>

    <div class="form-group">
      <%= f.submit t('.submit', action: @customer_task.new_record? ? t('common.create') : t('common.edit')), class: 'btn btn-primary btn' %>
      <%= link_to t('common.back'), :back, class: 'btn btn-primary btn' %>
    </div>
<% end %>