
<%= form_for @customer_task, url: task_add_response_path(@customer_task),  html: { multipart: true }  do |f| %>
        <div class="form-group">
          <%= fields_for @response do |l| %>
      <%= l.label :responces %>
      <%= l.text_area :response_text, placeholder: "Введите текст", class: 'form-control' %>
      <%= l.text_area :performer_price, placeholder: "Предложите свою цену", class: 'form-control' %>

              </div>

      <div class="form-group">
            <%= l.submit "Отправить отклик", class: 'btn btn-primary' %>
      </div>
<% end %>
<% end %>