<div class="container-fluid">
  <h1><span class="big-price"><%= @customer_task.price %></span><%= @customer_task.title %></h1>


  <div class="taskmap">

  <%= task_map @customer_task %>
  </div>

  <div class="customer">
    <%=link_to info_path(@customer_task.user.info) do %>
        <div class="avatar">
          <% if @customer_task.user.info.avatar.present? %>

              <%= image_tag @customer_task.user.info.avatar.url(:thumb), class: 'avatar' %>
          <% end %>
    <% end %>
    </div>

    <div class="name"><%= link_to @customer_task.user.info.name+' '+@customer_task.user.info.surname, info_path(@customer_task.user.info)  %></div>
  </div>

  <div class="address-box">
    <div style="font-weight: bold">Адрес: </div>
    <div class="address-list">
      <% @customer_task.locations.each do |l| %>
        <span class="address"><%= l.location_name %></span>
      <% end %>
    </div>
  </div>

  <div class="deadline">
    <div style="font-weight: bold">Сроки</div>
    <div class="start">Начать: <span><%= l @customer_task.start_time, format: :long %></span></div>
    <div class="end">Завершить: <span><%= l @customer_task.end_time, format: :long %></span></div>
  </div>

  <div class="price">Стоимость: <span><%=@customer_task.price  %> р</span></div>
  <div class="payment">Оплата: <span>Наличными</span></div>
  <div class="details">Подробности: <span><%= @customer_task.body.html_safe %></span></div>
</div>
</div>



</article>

<% if @customer_task.attachments? %>
    <p>Файлы</p>
    <ul>
<% @customer_task.attachments.each do |att| %>
          <li><%= link_to(image_tag(att.thumb.url, alt: 'File'), att.url, target: '_blank') %></li>
    <% end %>
      </ul>
    <% end %>


<article class="input">

  <h2>Отклики</h2>
        <selection class="task-input">

          <%if @customer_task.performer_id!=nil%>

              <h3>Вы выбрали исполнителя</h3>

          <% else %>


  <% @customer_task.user.response_lists.each_with_index do |res, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= link_to res.user.info.name+' '+res.user.info.surname, info_path(res.user.info)  %></td>
            <div><%= res.response_text %></div>

          <% if res.performer_price.present? %>
                <p></p>
                <p> Исполнитель предложил свою цену</p>
            <div><%= res.performer_price  %></div>
          <% end %>

          </tr>
        </selection>

</article>
                <p></p>
           <% if @customer_task.performer_id==nil %>
    <div class="form-group">
      <%= link_to 'Принять', myprofile_task_accept_response_path(@customer_task,:response => {:id => res}), :method => :put, class: 'btn btn-primary' %>
      <%= link_to 'Отклонить', myprofile_task_decline_response_path(@customer_task,:response => {:id => res}), :method => :put, class: 'btn btn-outline-secondary' %>
    </div>
                  <% end %>
                  <% end %>


<% end %>


